# Format file for the FOVE C++ Example
#
# This helps ensure consistent style.
# You can format all code by installing clang-format and do the following:
# >> git add <files>            <-- Stage your changes for commit (as is)
# >> clang-format -i *.cpp *.h  <-- Format all C++ code in the project
# >> git diff                   <-- See what formatting was changed
---

BasedOnStyle:          Microsoft
Standard:              Cpp11

# Modifications to the Microsoft style that bring it close to what FOVE uses internally
ColumnLimit:                      0
AllowShortFunctionsOnASingleLine: All
AccessModifierOffset:             -4
PointerBindsToType:               true
IndentWidth:                      4
TabWidth:                         4
UseTab:                           ForContinuationAndIndentation
AlignTrailingComments:            true
